@*                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Calendar", "Calendar", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>*@
<ul class="nav">
    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Calendar", "Calendar", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>
